.scrollbarHidden::-webkit-scrollbar{
    display: none; /* Edge , google */
}
.scrollbarHidden {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}
.seeAll{
    font-size: calc(13px + .25vw);
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
    gap: 2px;
}
.nextBtn, .prevBtn{
    top: 50%;
}
.nextBtn{
    left: 15px;
}
.prevBtn{
    right: 15px;
}