.scrollbarHidden::-webkit-scrollbar{
    display: none; /* Edge , google */
}
.scrollbarHidden {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}
.borderLeft{
    border-left: 1px solid #e8e7e8;
}