.columnsCounting{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1400px) {
    .columnsCounting{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
}
@media (max-width: 768px) {
    .columnsCounting{
        grid-template-columns: 1fr 1fr;
    }
}