@font-face {
	font-family: 'Yekan';
	src: url( './assets/fonts/Yekan.eot' );
	src: url( './assets/fonts/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './assets/fonts/Yekan.woff2' ) format( 'woff2' ),
		url( './assets/fonts/Yekan.woff' ) format( 'woff' ),
		url( './assets/fonts/Yekan.ttf' ) format( 'truetype' ),
		url( './assets/fonts/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

:root {
  --color-one: #029a02;
}

body{
  font-family: 'Yekan', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}
/* setting up main scrollbar */
body::-webkit-scrollbar{
	width: 8px;
	background-color: #f0f0f1;
}
body::-webkit-scrollbar-thumb{
	background-color: #c0c2c5;
}

/* more styling classes */
.fs-14px{
	font-size: 14px !important;
}
.fs-12px{
	font-size: 12px !important;
}
.cursor-pointer{
	cursor: pointer;
}
.object-fit-contain{
	object-fit: contain;
}
.text-justify{
	text-align: justify;
	text-align-last: right;
}
.bg-light-typetow{
	background-color: #b0b2b5;
}
.w-65{
	width: 65%;
}
.z-10{
	z-index: 10;
}
.mBtm1px{
    margin-bottom: 1px;
}

/* types of specioal bordering of elemens */

.border-type-one{
	border: 1px solid #e0e0e2;
	border-radius: 18px;
}
.border-type-tow{
	border-bottom: 1px solid #f0f0f1;
}
.border-type-three{
	border-left: 1px solid #f0f0f1;
}
.border-type-four{
	border-bottom: 2px solid white;
}
.border-type-four:hover{
	border-color: #ed1944;
	transition: .3s all ease-in-out;
}
.border-type-five{
	border-bottom: "2px solid #eee";
}
.borderAfterBefore{
	position: relative;
}
.borderAfterBefore::after, .borderAfterBefore::before{
	content: "";
	width: 1px;
	position: absolute;
	bottom: 20%;
	background-color: #f0f0f1;
	height: 60%;
}
.borderAfterBefore::after{
	right: 0;
}
.borderAfterBefore::before{
	left: 0;
}
.after{
	position: relative;
}
.after::after{
	content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f0f0f1;
    height: 1px;
}
.max-height-500px{
	max-height: 500px;
}

/* related to primary style of Buttons */

.button-default{
	outline: none;
	border: none;
	background-color: inherit;
}


/* related to position-absolute elements */

.top-p50{
	top: 50px;
}
.left-5{
	left: 5px;
}
.left-15{
	left: 15px;
}
.right-15{
	right: 15px
}
.top-p40{
	top: 40px;
}
.w-180px{
	width: 250px;
}

/* related to scrollLeft || scrollRight Buttons */

.prevBtn, .nextBtn {
  z-index: 1 !important;
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  color: #282012;
  border: none;
  border-radius: 50%;
  cursor: pointer;  
}
@media (max-width: 768px){
    .prevBtn, .nextBtn{
        width: 32px;
        height: 32px;
    }
}

/* related to LoginPage */
.grid-template-column-1-4{
	grid-template-columns: 4fr 1fr;
}
.max-width-400 {
	max-width: 400px !important;
}