.cntrUL{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 4fr;
}
.bgDark{
    background-color: #3c4b6d;
}
.gridTemplateColumnTowC{
    grid-template-columns: 1fr 1fr;
}
.gridTemplateColumnThreeC{
    grid-template-columns: 1fr 1fr 1fr;
}
.gridTemplateColumnSixC{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gridTemplateColumnEightC{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gapX1px{
    gap: 1px;
}
.mBtm1px{
    margin-bottom: 1px;
}
.iconForCall{
    width: 40px;
    height: 40px;
    background-color: #b0b2b5;
}
.iconForCall > * {
    font-size: 20px;
}