.image{
    width: 90px;
    height: 90px;
}
.caption {
    white-space: nowrap; /* به‌طور پیش‌فرض در یک خط باقی بماند */
    overflow: hidden; /* جلوگیری از نمایش اضافی */
    text-overflow: ellipsis; /* نمایش ... در صورتی که متن بیش از حد باشد */
    max-width: 90px; /* عرض محدود برای جلوگیری از نمایش طولانی */
    min-height: 50px;
    white-space: normal; /* در صفحات کوچک متن بشکند */

}