.modalClose{
    border: none;
    outline: none;
    background-color: inherit;
    color: #343434;
    margin-top: 3px;
}
.searcher {
    border: none;
    outline: none;
    color: #888;
    font-size: 12px;
}
.text{ 
    font-size: 12px;
    color: #494945;
}
.cities {
    max-height: 150px;
    overflow-y: auto !important;  
    padding: 10px;
    background-color: #fff;
}
.allContent{
    max-height: 300px;
}
.cntrTrends {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 4px;
    padding: 10px;
    scrollbar-width: thin;
}
